.clearfix:after {
		content: "";
		display: table;
		clear: both;
	}
	

	.body {
		margin-top: 0;
		max-height: 0;
	}
 
	a:hover { 
	    background-color: black;
	    color: white;
	}

	a:link {
	    text-decoration: none;
	}

	#footer a {
		color: red;
	    font-family: 'Karla', sans-serif;
	}  

	a {
		color: #000000;
	    font-family: 'Karla', sans-serif;
		font-size: 13px;
	}

	p {
	    font-family: 'Karla', sans-serif;
	}

	.wrapper {
	    border: 0px solid blue;
		margin: 0;
		padding: 0;	
		width: 900px;
		height: 750px;
	}

	.main-nav {
	    border: 0px solid blue; 
	    float: left;
	    margin: 0 5px 0 0;
		z-index: 99;
	}

	.content {
	    border: 0px solid blue; 
		text-align: center;
		position: relative;
		display: block;
		overflow: hidden;
	}

	figure {
		position: absolute;
		opacity: 0;
		transition: 1s opacity;
	}
	
	.photos {
		margin: auto;
	}

	.w3-section {
		text-align: center;
	}
	
	.w3-btn {background-color: #000000; 
    border-width: 1px;
    border-color: black;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;		
	}
	
	h1 {
	    font-size: 50px;
	    text-align: center;
	    margin: 0px 0 2px 0px;
	    font-family: 'Karla', sans-serif;
	}

	ul {
		margin-top: 65px;
		margin-left: 50px;
	    padding: 0 0 0 0;
	}

	li {
	    list-style-type:none;
	    font-family: 'Karla', sans-serif;
	    font-size: 13px;
	}

	img {
	    max-height: 600px;

		padding: 3px;
		border-style: solid;
		border-width: 1px;
		border-style: dotted;
	    opacity: 1;
	    filter: alpha(opacity=1); 
	}   

	.photo-nav {
		text-align: center;
	}

	
	.forward-backward {
		text-align: center;
	}
	
	.photos_large {
		text-align: center;
	}
	
	.photos_large img {
		max-width: 60%;
	    height: auto;
	    opacity: 1;
	    filter: alpha(opacity=70); 
		margin: auto;
	}

	img:hover {
	    opacity: 1.0;
	    filter: alpha(opacity=100); 
	}

	.photos a:hover {
		background-color: white;
	}

	#footer p {
	    text-align: left;
	    font-size: 12px;
	    border: 0px solid blue; 
	    margin: 3px 0 0 150px;
	    padding: 23px;
	    background-color: white;
	}






.next, .prev{
color: #fff;
position: absolute;
background: rgba(0,0,0, .6);
top: 50%;
z-index: 1;
font-size: 2em;
margin-top: -.75em;
opacity: .3;
user-select: none;
}
.next:hover, .prev:hover{
cursor: pointer;
opacity: 1;
}
.next{
right: 0;
padding: 10px 5px 15px 10px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
}
.prev{
left: 0;
padding: 10px 10px 15px 5px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}















	@media only screen and (max-width: 700px) {
	    body {
	        background-color: white;
	        border: 0px solid blue;

	    }
	    img {max-width: 100%; 
		   	padding-bottom: 5px;
	    }

	    h1 {
	        font-size: 40px;
	        margin: 10px;
		}
		ul {margin:0;
		   border: 0px solid blue;
		}

		.photos_large img {max-width: 100%;		
		}


	.wrapper {
	    border: 0px;
	    padding: 1px;
		margin: 0 0px 0 0px;
	    background-color: white;
		width: auto;
		height: auto;
		
	}
	
	
		#footer p {
	    text-align: left;
	    font-size: 12px;
	    border: 0px solid blue; 
	    margin: 0px 0 0 0px;
	    padding: 10px 0 0 0;
	    background-color: white;
	}
	
	
	.wrapper_large {
	    border: 0px;
	    padding: 1px;
	    background-color: white;
	}
	
	.wrapper_large h1 {
		padding-left: 40px;
	}
	
	.content {
		border: 0px solid red;
		margin-left: 15px;
		margin-top:-20px;
		height: 500px;
		width: auto;
		position: relative;

	}
		
	img {
	    max-height: 400px;
	    height: auto;
		padding: 0px;
		border-style: solid;
		border-width: 0px;
		border-style: dotted;
	    opacity: 1;
	    filter: alpha(opacity=1); 
	}
		
		.content_large {
			border: 0px solid blue;
			margin-left: 0px;
			margin-right: 20px;
			margin-bottom: 0px;
			margin-top:-20px;
		}

		h1 {
	        font-size: 40px;
	        margin: -10px 0 5px; 0;
		}
		
		.content_large .photos_large a:hover {
		background-color: white;
	}
		
		.menu-btn div{
				    border: 0px solid blue;

			 float: left;
			 padding-right: 0px;
			 margin-left: 0px;
			 margin-top: 0em;
			 line-height: 1.2;
			 font-size: 18px;
			 font-weight: 200;
			 vertical-align: middle;
			 }


		/*Changing this effects width of the lines of the hamburger*/
	
		.menu-btn span {

			 display: block;
			 width: 25px;
			 height: 4px;
			 margin-bottom: 5px;
			 background: rgb(0,0,0);
		}
		/*Line width ends here*/

			.menu-btn span:last-of-type {
				margin-bottom: 0px	;
			}
		 
		.responsive-menu{
			 display: none;
			 overflow: hidden;
		}

		/*Changing this effects width of the menu that appears when you open the hamburger*/
		.responsive-menu ul {
			  width: 80px;
			  float: left;
			  margin-right: 0;
			  margin: 0;
		}
		/*Width change ends here*/
		 
		.main-nav {
			border: none;
			position: absolute
		}
		
		a {
			font-size: 11px;
			color: white;
		}

		/*Changing this effects the look of the menu that appears when you open the hamburger*/
		.responsive-menu li {
			padding-left: 10px;
			font-size: 10px;
			  line-height: 25px;
			  list-style-type: none;
			  background-color: black;  
		}
		
		.responsive-menu  li:first-child {
			border-radius: 0px 10px 0px 0px;
		}
		
		.responsive-menu  li:last-child {
			border-radius: 0px 0px 10px 10px;
		}
		/*Changing stops here*/
		
		.expand {
			display: block !important; 
			
		}



